@import "tailwindcss";

/* Root variables */
:root {
  --primaryColor: #ec3521;
  --secondaryColor: #e5cb7a;
  --bodyColor: #450101;
}

/* Theme extension */
@theme {
  --color-primaryColor: var(--primaryColor);
  --color-secondaryColor: var(--secondaryColor);
  --color-bodyColor: var(--bodyColor);
}
