@import "tailwindcss";

/* Root variables */
:root {
  --primaryColor: #ac4b25;
  --secondaryColor: #f7f5f1;
  --bodyColor: #450101;
}

/* Theme extension */
@theme {
  --color-primaryColor: var(--primaryColor);
  --color-secondaryColor: var(--secondaryColor);
  --color-bodyColor: var(--bodyColor);
}
